.game {
  width:100%;
}

.game-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 500;
}

.game-board {
  background-color: silver; /* #ccc */
  overflow-x: auto;
}